.wait-products {
	grid-column: 1 / -1;

	&__caption {
		display: block;
		width: 100%;
		margin-bottom: 4rem;
		padding: 1rem 0;

		color: var(--secondary-color);
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 26px;

		text-align: center;

		background: #e2e4eb;
		border-radius: 5px;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
		gap: 2rem;

		.product__details {
			margin-top: 0;
		}

		.btn-secondary {
			padding: 1rem 1.5rem;
		}
	}
}
