<header class="header">
	<div class="header-top">
		<div class="container">
			<div class="header-top__inner">
				<p class="header-top__time">
					<svg class="">
						<use xlink:href="images/sprites/sprite-mono.svg#clock"></use>
					</svg>
					<span>Пн-Сб: 8:00–20:00 Вс: 9:00–20:00</span>
				</p>
				<ul class="header-top__menu top-menu list-reset">
					<li class="top-menu__item">
						<a class="top-menu__link" href="#">Доставка</a>
					</li>
					<li class="top-menu__item">
						<a class="top-menu__link" href="#">Оплата</a>
					</li>
					<li class="top-menu__item">
						<a class="top-menu__link" href="#">Отзывы</a>
					</li>
					<li class="top-menu__item">
						<a class="top-menu__link" href="#">Блог</a>
					</li>
					<li class="top-menu__item top-menu__item--dropdown">
						<a class="top-menu__link" href="#">
							Информация
							<svg class="menu__icon icon icon--gray stroke-2">
								<use xlink:href="images/sprites/sprite-mono.svg#chevron-down"></use>
							</svg>
						</a>
						<div class="header-top__submenu sub-menu">
							<ul class="sub-menu__list list-reset">
								<li class="sub-menu__item">
									<a class="sub-menu__link" href="#">Гарантии</a>
								</li>
								<li class="sub-menu__item">
									<a class="sub-menu__link" href="#">Вопрос и ответ</a>
								</li>
								<li class="sub-menu__item">
									<a class="sub-menu__link" href="#">Корпоративным клиентам</a>
								</li>
								<li class="sub-menu__item">
									<a class="sub-menu__link" href="#">О компании</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="top-menu__item">
						<a class="top-menu__link" href="#">Контакты</a>
					</li>
				</ul>
				<div class="header-top__right">
					<ul class="header-top__social top-social list-reset">
						<li class="top-social__item">
							<a href="#" class="top-social__link">
								<svg>
									<use xlink:href="images/sprites/sprite-mono.svg#vk"></use>
								</svg>
							</a>
						</li>
						<li class="top-social__item">
							<a href="#" class="top-social__link">
								<svg class="">
									<use xlink:href="images/sprites/sprite-mono.svg#instagram"></use>
								</svg>
							</a>
						</li>
					</ul>
					<div class="header-top__user">
						<a class="header-top__link sign-in-link" href="#">
							<svg class="icon icon--davy-grey stroke-2">
								<use xlink:href="images/sprites/sprite-mono.svg#user"></use>
							</svg>
							Мои заказы
						</a>
						<div class="user-account">
							<a class="user-account__link" href="personal-account.html">Личный кабинет</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="header-info">
		<div class="container">
			<div class="header-info__wrapper">
				<div class="header-info__left">
					<img class="header-info__logo" src="images/logo.svg" alt="">
					<p class="header-info__text">Доставка цветов в Воронеже</p>
				</div>
				<form action="#" class="header-info__form header-form">
					<input type="text" class="header-form__input" placeholder="Поиск по сайту">
					<button class="header-form__btn btn-reset">
						<svg class="menu__icon icon icon--gray stroke-2">
							<use xlink:href="images/sprites/sprite-mono.svg#search"></use>
						</svg>
					</button>
				</form>
				<div class="header-info__contact header-contact">
					<span class="header-contact__icon">
						<svg class="menu__icon icon icon--gray stroke-2">
							<use xlink:href="images/sprites/sprite-mono.svg#call"></use>
						</svg>
					</span>
					<div class="header-contact__phone">
						+7 (920) 211-49-03
						<svg class="header-contact__phone-icon menu__icon icon icon--gray stroke-2">
							<use xlink:href="images/sprites/sprite-mono.svg#chevron-down"></use>
						</svg>
						<div class="header-contact__submenu sub-menu">
							<ul class="sub-menu__list list-reset">
								<li class="sub-menu__item">
									<svg class="sub-menu__icon icon icon--davy-grey stroke-2">
										<use xlink:href="images/sprites/sprite-mono.svg#call"></use>
									</svg>
									<a class="sub-menu__link" href="tel:+7 (920) 211-49-03">
										+7 (920) 211-49-03
									</a>
								</li>
								<li class="sub-menu__item">
									<svg class="sub-menu__icon">
										<use xlink:href="images/sprites/sprite-multi.svg#map-pin"></use>
									</svg>
									<span>ул. Революции 1905 года 80</span>
								</li>
								<li class="sub-menu__item">
									<svg class="sub-menu__icon">
										<use xlink:href="images/sprites/sprite-multi.svg#map-pin"></use>
									</svg>
									<span>ул. Вл. Невского 17</span>
								</li>
								<li class="sub-menu__item">
									<svg class="sub-menu__icon icon icon--davy-grey stroke-2">
										<use xlink:href="images/sprites/sprite-mono.svg#envelope"></use>
									</svg>
									<a class="sub-menu__link" href="#">info@lavkaroz.ru</a>
								</li>
							</ul>
							<div class="sub-menu__footer">
								<span class="sub-menu__caption">Напишите нам:</span>
								<ul class="sub-menu__social list-reset">
									<li class="sub-menu__social-item">
										<a href="" class="sub-menu__social-link">
											<svg class="sub-menu__social-icon">
												<use xlink:href="images/sprites/sprite-multi.svg#whatsapp"></use>
											</svg>
										</a>
									</li>
									<li class="sub-menu__social-item">
										<a href="" class="sub-menu__social-link">
											<svg class="sub-menu__social-icon">
												<use xlink:href="images/sprites/sprite-multi.svg#telegram"></use>
											</svg>
										</a>
									</li>
									<li class="sub-menu__social-item">
										<a href="" class="sub-menu__social-link">
											<svg class="sub-menu__social-icon">
												<use xlink:href="images/sprites/sprite-multi.svg#vk"></use>
											</svg>
										</a>
									</li>
									<li class="sub-menu__social-item">
										<a href="" class="sub-menu__social-link">
											<svg class="sub-menu__social-icon">
												<use xlink:href="images/sprites/sprite-multi.svg#instagram-fill"></use>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<a class="header-contact__btn" href="#">Заказать звонок</a>
					</div>
				</div>
				<div class="header-info__actions user-actions">
					<a class="user-actions__btn user-actions__favorite" href="#">
						<svg class="user-actions__icon icon icon--bright-grey">
							<use xlink:href="images/sprites/sprite-mono.svg#heart"></use>
						</svg>
					</a>
					<div class="user-actions__cart">
						<a class="user-actions__btn cart-btn" href="#">
							<svg class="user-actions__icon icon icon--bright-grey">
								<use xlink:href="images/sprites/sprite-mono.svg#cart"></use>
							</svg>
							<span class="cart-btn__count">0</span>
						</a>
						<span class="user-actions__cart-price">0 ₽</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-main">
		<div class="header-main__container container">
			<a class="header-main__link" href="#">
				Акции
			</a>
			<nav class="header-main__menu menu">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a href="#" class="menu__link">
							Цветы поштучно
							<svg class="menu__icon icon icon--gray stroke-2">
								<use xlink:href="images/sprites/sprite-mono.svg#chevron-down"></use>
							</svg>
						</a>
					</li>
					<li class="menu__item menu__item--dropdown">
						<a href="#" class="menu__link">
							Розы
							<svg class="menu__icon icon icon--gray stroke-2">
								<use xlink:href="images/sprites/sprite-mono.svg#chevron-down"></use>
							</svg>
						</a>
						<div class="header-main__submenu sub-menu">
							<ul class="sub-menu__list list-reset">
								<li class="sub-menu__item">
									<a class="sub-menu__link" href="#">Голландские розы</a>
								</li>
								<li class="sub-menu__item">
									<a class="sub-menu__link" href="#">Местная роза</a>
								</li>
								<li class="sub-menu__item">
									<a class="sub-menu__link" href="#">Кустовые розы</a>
								</li>
								<li class="sub-menu__item">
									<a class="sub-menu__link" href="#">Пионовидные розы</a>
								</li>
								<li class="sub-menu__item">
									<a class="sub-menu__link" href="#">Букет из 101 розы</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Букеты
							<svg class="menu__icon icon icon--gray stroke-2">
								<use xlink:href="images/sprites/sprite-mono.svg#chevron-down"></use>
							</svg>
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Композиции
							<svg class="menu__icon icon icon--gray stroke-2">
								<use xlink:href="images/sprites/sprite-mono.svg#chevron-down"></use>
							</svg>
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Подарки
							<svg class="menu__icon icon icon--gray stroke-2">
								<use xlink:href="images/sprites/sprite-mono.svg#chevron-down"></use>
							</svg>
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Шары
							<svg class="menu__icon menu__icon icon icon--gray stroke-2">
								<use xlink:href="images/sprites/sprite-mono.svg#chevron-down"></use>
							</svg>
						</a>
					</li>
					<li class="menu__item"><a href="#" class="menu__link menu__link--bolder">Свадебные букеты</a></li>
					<li class="menu__item"><a href="#" class="menu__link menu__link--bolder">Повод</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>