<section class="product-page">
	<div class="single-product">
		<div class="container">
			<div class="single-product__wrapper">
				<div class="single-product__sidebar product-sidebar">
					<div class="product-sidebar__item">
						<h3 class="product-sidebar__title">Доставка</h3>
						<ul class="product-sidebar__list">
							<li class="product-sidebar__list-item">Самовывоз - бесплатно</li>
							<li class="product-sidebar__list-item">Доставка по Воронежу - <span>от 300₽.</span></li>
							<li class="product-sidebar__list-item">Доставка с 9:00 до 21:00.</li>
							<li class="product-sidebar__list-item">При заказе от <span>5000₽</span> - доставка бесплатно.</li>
						</ul>
						<a class="product-sidebar__link" href="#">Подробнее о доставке</a>
					</div>
					<div class="product-sidebar__item payment-methods">
						<h3 class="payment-methods__title">Способы оплаты</h3>
						<p class="payment-methods__descr">Вы можете оплатить
							наличными или картой:</p>
						<ul class="payment-methods__cards list-reset">
							<li class="payment-methods__cards-item">
								<img src="images/cards/wallet.svg" alt="">
							</li>
							<li class="payment-methods__cards-item">
								<img src="images/cards/visa.svg" alt="">
							</li>
							<li class="payment-methods__cards-item">
								<img src="images/cards/mastercard.svg" alt="">
							</li>
							<li class="payment-methods__cards-item">
								<img src="images/cards/maestro.svg" alt="">
							</li>
							<li class="payment-methods__cards-item">
								<img src="images/cards/world.svg" alt="">
							</li>
							<li class="payment-methods__cards-item">
								<img src="images/cards/tick.svg" alt="">
							</li>
							<li class="payment-methods__cards-item">
								<img src="images/cards/u.svg" alt="">
							</li>
							<li class="payment-methods__cards-item">
								<img src="images/cards/paypal.svg" alt="">
							</li>
						</ul>
					</div>
					<div class="product-sidebar__item">
						<h3 class="product-sidebar__title">Возврат товара</h3>
						<p class="product-sidebar__descr">Если получателя не устроит качество цветов или работа флориста –
							напишите нам, в течение 24 часов! Мы решим данную
							проблему.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>