<section class="section watched-before sliders">
	<div class="container">
		<div class="section__header section-header gutter-md">
			<h3 class="section-header__title title--md">Ранее вы смотрели</h3>
		</div>
		<div class="watched-before__wrapper sliders__wrapper">
			<div class="watched-before__slider sliders__slider">
				<div class="swiper-wrapper">
				</div>
				<div class="swiper-button-next swiper-button-reset prev-slide-btn">
					<svg class="icon icon--bright-grey stroke-2">
						<use xlink:href="images/sprites/sprite-mono.svg#next"></use>
					</svg>
				</div>
				<div class="swiper-button-prev swiper-button-reset next-slide-btn">
					<svg class="icon icon--bright-grey stroke-2">
						<use xlink:href="images/sprites/sprite-mono.svg#prev"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>